.components-container-inps {
  display: inline-grid;
  grid-template-columns: 1fr 1fr auto;
  width: 100%;

  .component-box-inps {
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  }
}

.components-container-outs {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  .component-box-outs {
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  }
}

h1 {
  text-align: center;
  font-size: 23px;
}

.modal-content {
  // -webkit-border-radius: 0 !important;
  // -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
